/usr/bin/env tctl config clusters set default --bridge-address ${tetrate_managementplane_hostname}:443 --tls-insecure
/usr/bin/env tctl config users set admin --org tse --tenant tse  --username tse --password ${tetrate_password}
/usr/bin/env tctl config profiles set default --cluster="default" --username="tse"
/usr/bin/env tctl config profiles set-current "default"
/usr/bin/env tctl apply -f ${cluster_name}-cluster.yaml -o yaml | yq .spec.installTemplate.helm > ${cluster_name}-values.yaml